@using FurnitureStore.Client.Shared.Customer
@inherits LayoutComponentBase

<div class="">
    <main>
		<div class="app">
		
			<Header></Header>
				@Body
			<Footer></Footer>
		
		</div>
	
	</main>
</div>

@code {
	

}
