/*Popup css*/
.model {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

.model_close_btn_size {
    color: #ffffff;
    font-size: 2rem;
    background-color: transparent;
    border: 0px;
}

.model_add_img_btn {
    margin-top: 4px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #d2d2d2;
    width: 200px;
    font-family: "nunito-regular", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.model_close_btn_black_small {
    padding-top: 6px;
    color: #000;
    font-size: 1rem;
    background-color: transparent;
    border: 0px;
}

.model_header {
    border-radius: 10px 10px 0px 0px;
    background: #f33f3f;
    height: 40px;
    color: white;
}

.model_header_title {
    color: #ffffff;
    margin-left: 1.625rem;
    text-transform: capitalize;
    font-family: "nunito-regular", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
}

.model_main {
    overflow: auto;
    width: 1000px;
    height: 520px;
    overflow: auto;
    padding: 1rem 1rem 0 1rem;
}

.model_main_square {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.model_main_input {
    border-radius: 5px;
    padding: 10px;
    background-color: #eef0fa;
    width: 100%;
    border-color: transparent;
    color: #001737;
    text-transform: capitalize;
    font-family: "nunito-regular", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
}

.model_main_input_children {
    border-radius: 5px;
    padding: 10px;
    background-color: #eef0fa;
    width: 100%;
    border-color: transparent;
    color: #001737;
    font-family: "nunito-regular", sans-serif;
    font-size: 1rem;
    font-weight: initial;
}

.model_main_div_children {
    margin-bottom: 24px;
}

.model_main_label {
    color: black;
    font-family: "nunito-regular", sans-serif;
    font-size: 1rem;
    font-weight: initial;
    margin-bottom: 4px;
}

.model_main_label_inside {
    border-radius: 5px;
    padding: 10px;
    text-align: start;
    background-color: #eef0fa;
    width: 100%;
    border-color: transparent;
    color: black;
    font-family: "nunito-regular", sans-serif;
    font-size: 1rem;
    font-weight: initial;
    padding: 10px;
}

input.number-none-updown::-webkit-outer-spin-button,
input.number-none-updown::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.custom-radio[type="radio"] {
    display: none;
}

label.custom-radio {
    margin-right: 12px;
    position: relative;
    color: #f33f3f;
    font-family: "nunito-regular", sans-serif;
    font-size: 1rem;
    font-weight: initial;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.8em;
    border: 1px solid #f33f3f;
    padding: 10px;
    border-radius: 0.5em;
}

    label.custom-radio:before {
        content: "";
        border: 0.65em solid #f33f3f;
        border-radius: 50%;
    }

input.custom-radio[type="radio"]:checked + label:before {
    border: 0.65em solid #ffffff;
    background-color: #f33f3f;
}

input.custom-radio[type="radio"]:checked + label {
    background-color: #f33f3f;
    color: #ffffff;
}

.add-product-form {
    background: #ffffff;
    border-radius: 10px;
    top: 10%;
    width: 1000px;
    height: 560px;
    margin: auto;
    position: relative;
}


.button.toggle-button-red {
    background-color: #d2d2d2;
    width: 48px;
    height: 24px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

    .button.toggle-button-red::before {
        position: absolute;
        content: '';
        background-color: #fff;
        width: 22px;
        height: 22px;
        border-radius: 200px;
        margin: 1px;
        transition: 0.2s;
    }

input.toggle-btn-red:checked + .button {
    background-color: #f33f3f;
}

    input.toggle-btn-red:checked + .button::before {
        transform: translateX(24px);
    }

input.toggle-btn-red {
    display: none;
}

.model_main_input_vertical {
    border-radius: 5px;
    padding: 10px;
    background-color: #eef0fa;
    width: 300px;
    border-color: transparent;
    color: #001737;
    font-family: "nunito-regular", sans-serif;
    font-size: 1rem;
    font-weight: initial;
}

.model_main_input_vertical_150 {
    border-radius: 5px;
    padding: 10px;
    background-color: #eef0fa;
    width: 150px;
    border-color: transparent;
    color: #001737;
    font-family: "nunito-regular", sans-serif;
    font-size: 1rem;
    font-weight: initial;
}

.model_main_border {
    border: 1px solid #000;
    border-radius: 5px;
}

/*category popup*/
.add-category-form {
    background: #ffffff;
    border-radius: 10px;
    top: 20%;
    width: 480px;
    margin: auto;
    position: relative;
}

.model-category-main {
    overflow: auto;
    width: 480px;
    overflow: auto;
    padding: 2rem 2rem 0 2rem;
}

/*orderdetail popup*/
.order-detail-form {
    background: #f0f1f6;
    border-radius: 10px;
    top: 10%;
    width: 1000px;
    height: 560px;
    margin: auto;
    position: relative;
}

.order-detail-header {
    background: #ffffff;
    margin: auto;
    position: relative;
}

.model-order-detail-main {
    background: #ffffff;
    margin: 24px;
    padding: 2rem 2rem 0 2rem;
}

.model-image-format {
    border-radius: 5px;
}

.model-order-detail-overflow {
    max-height: 440.8px;
    overflow-y: auto;
}

.model-product-name-label {
    color: black;
    font-family: "nunito-regular", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.model-product-id-label {
    color: #a7afb7;
    font-family: "nunito-regular", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4px;
}

/*Custom radio button*/
input.custom-radio[type="radio"] {
    display: none;
}

label.custom-radio {
    color: #f33f3f;
    font-family: "nunito-regular", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    gap: 0.8rem;
    border: 1px solid #f33f3f;
    border-radius: 0.5em;
}

    label.custom-radio:before {
        content: "";
        height: 1rem;
        width: 1rem;
        border: 1px solid #f33f3f;
        border-radius: 50%;
    }

input.custom-radio[type="radio"]:checked + label:before {
    height: 1rem;
    width: 1rem;
    border: 0.3rem solid #ffffff;
    background-color: #f33f3f;
}

input.custom-radio[type="radio"]:checked + label {
    background-color: #f33f3f;
    color: #ffffff;
}

/*Custom date picker*/
.custom-date-picker {
    font-family: "nunito-regular", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: none;
}