@page "/"

<PageTitle>Product Management</PageTitle>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product Management</title>
    <link rel="stylesheet" href="mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href=""><h2 class="textlogo-h2">Sixteen <em class="textlogo-em">Furnishings</em></h2></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <div class="search-field d-none d-xl-block">
                <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <i class="input-group-text border-0 mdi mdi-magnify"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" placeholder="Search products">
                    </div>
                </form>
            </div>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="nav-profile-img">
                            <img src="assets/images/faces/face28.png" alt="image">
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black">Admin</p>
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">
                        <div class="p-2">
                            <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                                <span>Setting</span>
                                <i class="mdi mdi-logout ms-1"></i>
                            </a>
                        </div>
                        <div class="p-2">
                            <a class="dropdown-item py-1 d-flex align-items-center justify-content-between" href="#">
                                <span>Log Out</span>
                                <i class="mdi mdi-logout ms-1"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                        <span class="menu-title">Product management</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <span class="icon-bg"><i class="mdi mdi-crosshairs-gps menu-icon"></i></span>
                        <span class="menu-title">UI Elements</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/icons/mdi.html">
                        <span class="icon-bg"><i class="mdi mdi-contacts menu-icon"></i></span>
                        <span class="menu-title">Icons</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/forms/basic_elements.html">
                        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                        <span class="menu-title">Forms</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/charts/chartjs.html">
                        <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
                        <span class="menu-title">Charts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/tables/basic-table.html">
                        <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                        <span class="menu-title">Tables</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                        <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                        <span class="menu-title">User Pages</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
                            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-9 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Choose category</h4>
                                <div class="d-flex flex-row">
                                    <div>
                                        <h5>Level 1</h5>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuOutlineButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Choose category </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton2">
                                                <h6 class="dropdown-header">Level1</h6>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left: 24px;">
                                        <h5>Level 2</h5>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuOutlineButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Choose category </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton2">
                                                <h6 class="dropdown-header">Level1</h6>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left: 24px;">
                                        <h5>Level 3</h5>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuOutlineButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Choose category </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton2">
                                                <h6 class="dropdown-header">Level1</h6>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">New product</h4>
                                <div>
                                    <h5>Add a new product</h5>
                                    <button type="button" class="btn btn-outline-dark btn-fw">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="grid-margin stretch-card d-flex align-items-center">
                                    <div class="col-lg-3 grid-margin stretch-card d-flex align-items-center">
                                        <h4 class="card-title">Product list</h4>
                                    </div>
                                    <div class="col-lg-9 grid-margin stretch-card d-flex align-items-center justify-content-end">
                                        <h4 class="page-title">Soft by</h4>
                                        <div class="dropdown" style="margin-left: 12px;">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuOutlineButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Soft by </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton2">
                                                <h6 class="dropdown-header">Level1</h6>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Product ID</th>
                                            <th>Product Name</th>
                                            <th>Stock</th>
                                            <th>Min Stock</th>
                                            <th>Grams</th>
                                            <th>Regular Price</th>
                                            <th>Sale Price</th>
                                            <th>Discounted Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>3</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-success">In Stock</label></td>
                                        </tr>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>0</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-danger">Out of Stock</label></td>
                                        </tr>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>3</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-success">In Stock</label></td>
                                        </tr>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>0</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-danger">Out of Stock</label></td>
                                        </tr>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>3</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-success">In Stock</label></td>
                                        </tr>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>0</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-danger">Out of Stock</label></td>
                                        </tr>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>3</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-success">In Stock</label></td>
                                        </tr>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>0</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-danger">Out of Stock</label></td>
                                        </tr>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>3</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-success">In Stock</label></td>
                                        </tr>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>0</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-danger">Out of Stock</label></td>
                                        </tr>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>3</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-success">In Stock</label></td>
                                        </tr>
                                        <tr>
                                            <td>beds00001</td>
                                            <td>Anderson Canopy Bed Anderson Canopy Bed Anderson Canopy Bed</td>
                                            <td>0</td>
                                            <td>1</td>
                                            <td>97599</td>
                                            <td>349900</td>
                                            <td>279920</td>
                                            <td>279920</td>
                                            <td><label class="badge badge-danger">Out of Stock</label></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="footer-inner-wraper">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a>2021</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Only the best <a href="https://www.bootstrapdash.com/" target="_blank"> Bootstrap dashboard </a> templates</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
