@page "/login"

<PageTitle>Login</PageTitle>

<head>
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth" style="background-color:#212529;">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="row justify-content-center auth-form-light text-left p-5">
                            <div class="d-flex justify-content-center"
                                 style="background-color: #212529; width: 270px;">
                                <h2 class="textlogo-h2"
                                    style="margin: 8px;">
                                    Sixteen <em class="textlogo-em">Furnishings</em>
                                </h2>
                            </div>
                            <h4 style="margin-top: 36px; color: black;">
                                Hello! let's get
                                started
                            </h4>
                            <h6 class="font-weight-light">Sign in to continue.</h6>
                            <form class="pt-3">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg"
                                           id="exampleInputEmail1" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg"
                                           id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <div class="mt-3 d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-dark btn-fw">
                                        Sign
                                        In
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</body>

<script src="misc.js"></script>
