@page "/aboutUs"
@using FurnitureStore.Client.Shared.Customer

<PageTitle>About Us</PageTitle>

<div class="body">
	<!-- start banner -->
	<div class="body-banner">
		<img src="https://rhomeco.com/cdn/shop/files/R_Home_Columbia_MO.png?v=1686709644&width=2000" alt="">
	</div>
	<!-- end banner -->
	<!-- start why choose us -->
	<div class="why-choose-section grid">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg-6">
					<h2 class="section-title">Why Choose Us</h2>
					<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>

					<div class="row my-5">
						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">

									<span class="material-symbols-outlined">
										local_shipping
									</span>
								</div>
								<h3>Fast &amp; Free Shipping</h3>
								<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<span class="material-symbols-outlined">
										local_mall
									</span>
								</div>
								<h3>Easy to Shop</h3>
								<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<span class="material-symbols-outlined">
										support
									</span>
								</div>
								<h3>24/7 Support</h3>
								<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<span class="material-symbols-outlined">
										cached
									</span>
								</div>
								<h3>Hassle Free Returns</h3>
								<p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-5">
					<div class="img-wrap">
						<img src="/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- end why choose us -->
	<!-- start our team -->
	<div class="our-team-title"><h2>Our team</h2></div>
	<div class="grid row">

		<!-- Start Column 1 -->
		<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
			<img src="/images/person_1.jpg" class="img-fluid mb-5">
			<h3 class="our-team-name">Nhat Do</h3>
			<span class="d-block position mb-4">CEO, Founder, Atty.</span>
			<p class="our-team-descrip">
				Separated they live in.
				Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
			</p>
			<p class="mb-0"><a href="#" class="more dark our-team-learn-more">Learn More <span class="icon-arrow_forward"></span></a></p>
		</div>
		<!-- End Column 1 -->
		<!-- Start Column 2 -->
		<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
			<img src="/images/person_2.jpg" class="img-fluid mb-5">

			<h3 class="our-team-name">Kien Nguyen</h3>
			<span class="d-block position mb-4">CEO, Founder, Atty.</span>
			<p class="our-team-descrip">
				Separated they live in.
				Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
			</p>
			<p class="mb-0"><a href="#" class="more dark our-team-learn-more">Learn More <span class="icon-arrow_forward"></span></a></p>

		</div>
		<!-- End Column 2 -->
		<!-- Start Column 3 -->
		<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
			<img src="/images/person_3.jpg" class="img-fluid mb-5">
			<h3 class="our-team-name">Duy Mai</h3>
			<span class="d-block position mb-4">CEO, Founder, Atty.</span>
			<p class="our-team-descrip">
				Separated they live in.
				Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
			</p>
			<p class="mb-0"><a href="#" class="more dark our-team-learn-more">Learn More <span class="icon-arrow_forward"></span></a></p>
		</div>
		<!-- End Column 3 -->
		<!-- Start Column 4 -->
		<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
			<img src="/images/person_4.jpg" class="img-fluid mb-5">

			<h3 class="our-team-name">Trinh Nguyen</h3>
			<span class="d-block position mb-4">CEO, Founder, Atty.</span>
			<p class="our-team-descrip">
				Separated they live in.
				Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
			</p>
			<p class="mb-0"><a href="#" class="more dark our-team-learn-more">Learn More <span class="icon-arrow_forward"></span></a></p>


		</div>
		<!-- End Column 4 -->



	</div>
	<!-- end our team -->
</div>
