@page "/filter"
@using FurnitureStore.Client.Layout.Customer
@layout MainLayout
<div class="body-contain">
	<div class="collection__banner-image">
		<img class="category-img" src="//rhomeco.com/cdn/shop/collections/table_lamp_columiba_mo.jpg?v=1697922997&width=2000" alt="">
	</div>
	<div class="main--collection__title"><h1>Table Lamps</h1></div>
	<div class="path grid">
		<a href="">Home</a>
		<span>|</span>
		<a href="">Lighting</a>
		<span>|</span>
		<a class="path__current" href="">Floor Lamps</a>
	</div>
	<!-- Search result  -->
	<div class="latest-products grid">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<button class="btn-filter">
							<span class="material-symbols-outlined">
								tune
							</span>
							Filter
						</button>
					</div>
				</div>
				<section>
					<div class="text-center">

						<!-- Product -->
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/0cf32a9c7df69043bbca9de2ff92c1a6.jpg?v=1691011197&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-dark ms-2">NEW</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-primary ms-2">bestseller</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-dark ms-2">NEW</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-success ms-2">Eco</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-dark ms-2">NEW</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-dark ms-2">NEW</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>

					</div>
				</section>

			</div>
		</div>
	</div>


	<div class="modal">
		<div class="modal__overlay"></div>
		<div class="modal__body--border modal-body-right">
			<!-- chứa thành phần riêng  -->
			<div class="modal-cart">
				<div class="filter-contain">
					<div class="filter-close"><span class="material-symbols-outlined">close</span></div>
					<div class="filter-title">
						<h4>Filter</h4>
					</div>
					<div class="filter-availabitiy">
						<h4>Availability</h4>
						<div class="availabity-input">
							<input type="checkbox">In stock <br>
							<input type="checkbox">Out of stock
						</div>
					</div>
					<div class="filter-price">
						<h4>Price</h4>
						<div class="price-input">
							$
							<input type="text" placeholder="From">$
							<input type="text" placeholder="To">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

@code {

}
