@page "/order/success"
@inherits LayoutComponentBase



<div class="header">
		<div class="col logo">
			<a class="navbar-brand" href="index.html"><h2>SIXTEEN <strong>FURNISHINGS</strong></h2></a>
		</div>
		<div class="col process">
			<ol class="user-process">
				<li>Đăng nhập</li>
				<li>Thông tin nhận hàng</li>
				<li>Hình thức vận chuyển</li>
				<li>Thanh toán</li>
			</ol>
		</div>
	</div>
<div class="success-container">
	<div class="row container">
		<div class="col icon-done">
			<li></li>
		</div>
		<div class="col message">
			<div class="row thanks-message">
				<p>Chào <span>Thuy Trinh</span>, </p>
				<p>Cảm ơn bạn đã đặt hàng tại cửa hàng chúng tôi</p>
			</div>
			<div class="row order-id">
				<p>
					Mã đơn hàng của bạn là: <span>23PNH31</span> Bạn có thể xem chi
					tiết đơn hàng trong email của mình.
				</p>
			</div>
			<div class="row order-date">
				<p>
					Thời gian dự kiến giao hàng vào <span>21/12/2024</span>(Không tính
					CN & ngày lễ, không bao gồm sản phẩm đặt hàng trước)
				</p>
			</div>
			<div class="row order-user-contact">
				<p>
					Tin nhắn xác nhận đơn hàng đã được gửi vào số điện thoại:
					<span>023456789</span>
				</p>
			</div>
			<div class="row order-note">
				<p>
					Để việc xử lý đơn hàng nhanh chóng, Chúng tôi có thể không gọi điện
					xác nhận đơn hàng. Hệ thống tự động xử lý và nhân viên giao hàng sẽ
					liên hệ trực tiếp với bạn
				</p>
			</div>
			<div class="row contact">
				<p>Mọi thắc mắc vui lòng liên hệ: <span>0948346245</span></p>
			</div>
		</div>
	</div>
	<div class="row button-next">
		<a href="/">
			<button>Tiếp tục mua hàng</button>
		</a>
	</div>
</div>

@code {

}
