@page "/product/detail/{ProductId}"
@using FurnitureStore.Client.IServices.Customer
@using FurnitureStore.Client.Layout.Customer
@using FurnitureStore.Shared
@using FurnitureStore.Shared.DTOs
@inject IProductService ProductServiceDI

@layout MainLayout
<div class="body-contain">
	<div class="path grid">
		<a href="">Home</a>
		<span>|</span>
		<a href="">Lighting</a>
		<span>|</span>
		<a class="path__current" href="">Floor Lamps</a>
	</div>
	@if (product != null)
	{
		<div class="detail-product">
			<div class="detail-product_contain grid">
				<div class="detail-img-section">
					<div class="list-product-general">
						<div class="list-product-item">
							<img src="https://rhomeco.com/cdn/shop/files/a64ae288cf97c9e173c18c7657771df0.png?v=1691004487&width=1200" alt="">
						</div>
						<div class="list-product-item">
							<img src="https://rhomeco.com/cdn/shop/files/a64ae288cf97c9e173c18c7657771df0.png?v=1691004487&width=1200" alt="">
						</div>
					</div>
					<div class="display-img">
						<div>
							<img class="display-img-main" src="@product.FeaturedImage" alt="">

						</div>
						<button class="round-button round-button--left">
							<span class="material-symbols-outlined">
								arrow_back_ios
							</span>
						</button>
						<button class="round-button round-button--right">
							<span class="material-symbols-outlined">
								arrow_forward_ios
							</span>
						</button>
					</div>
				</div>
				<div class="detail-descript-section">
					<div class="detail-descript-block">
						<h3>@product.Name</h3>
					</div>
					<div class="detail-descript-block detail-product__price">
						$@product.RegularPrice
					</div>
					<div class="detail-descript-block detail-product__quantity">
						<label for="">Quantity</label>
						<div class="cart-product-updown">
							<button class="cart-product-updown-link">-</button>
							<input class="cart-product-quantity" type="text" placeholder="1">
							<button class="cart-product-updown-link">+</button>
						</div>
					</div>
					<div class="detail-descript-block">
						<a class="app-btn" href="">Add to cart</a>
						<a class="app-btn app-btn--payment" href="">Buy with VN Pay</a>
					</div>
					<div class="detail-descript-block detail-product__description">
						<button class="description-header">
							<div>Product Description</div>
							<span class="material-symbols-outlined">
								add
							</span>
						</button>

						<div class="detail-product-description-text">
							<p>
								@product.Description
							</p>
						</div>
					</div>
					<div class="detail-descript-block detail-product__description">
						<button class="description-header">
							<div>Product Details</div>
							<span class="material-symbols-outlined">
								add
							</span>
						</button>

						<div class="detail-product-description-text">
							<p>
								<span>Grams: @product.Grams</span>

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
<!-- You also may like  -->
<div class="latest-products grid">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-heading">
					<h2 class="related-list-titile">You also may like</h2>
				</div>
			</div>
			<section>
				<div class="text-center">

					<!-- Product -->
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/0cf32a9c7df69043bbca9de2ff92c1a6.jpg?v=1691011197&width=1200"
									 class="w-100" />
								<a href="#!">
									<div class="mask">
										<div class="d-flex justify-content-start align-items-end h-100">
											<h5><span class="badge bg-dark ms-2">NEW</span></h5>
										</div>
									</div>
									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset ">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
									 class="w-100" />
								<a href="#!">
									<div class="mask">
										<div class="d-flex justify-content-start align-items-end h-100">
											<h5><span class="badge bg-primary ms-2">bestseller</span></h5>
										</div>
									</div>
									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
									 class="w-100" />
								<a href="#!">
									<div class="mask">
										<div class="d-flex justify-content-start align-items-end h-100">
											<h5><span class="badge bg-dark ms-2">NEW</span></h5>
										</div>
									</div>
									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset ">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
									 class="w-100" />
								<a href="#!">
									<div class="mask">
										<div class="d-flex justify-content-start align-items-end h-100">
											<h5><span class="badge bg-success ms-2">Eco</span></h5>
										</div>
									</div>
									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset ">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
									 class="w-100" />
								<a href="#!">

									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset ">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
									 class="w-100" />
								<a href="#!">
									<div class="mask">
										<div class="d-flex justify-content-start align-items-end h-100">
											<h5><span class="badge bg-dark ms-2">NEW</span></h5>
										</div>
									</div>
									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset ">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
									 class="w-100" />
								<a href="#!">
									<div class="mask">
										<div class="d-flex justify-content-start align-items-end h-100">
											<h5><span class="badge bg-dark ms-2">NEW</span></h5>
										</div>
									</div>
									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset ">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
									 class="w-100" />
								<a href="#!">

									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset ">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
									 class="w-100" />
								<a href="#!">

									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset ">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
									 class="w-100" />
								<a href="#!">

									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset ">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
									 class="w-100" />
								<a href="#!">

									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset ">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mb-4">
						<div class="card">
							<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
								 data-mdb-ripple-color="light">
								<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
									 class="w-100" />
								<a href="#!">

									<div class="hover-overlay">
										<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
									</div>
								</a>
							</div>
							<div class="card-body">
								<a href="" class="text-reset">
									<h5 class="card-title mb-2">Denim shirt</h5>
								</a>
								<a href="" class="text-reset ">
									<p>Shirt</p>
								</a>
								<h6 class="mb-3 price">120$</h6>
							</div>
						</div>
					</div>

				</div>
			</section>

		</div>
	</div>
</div>

@code {
	[Parameter]
	public string ? ProductId { get; set; }
	private ProductDTO ?product;
	protected override async Task OnInitializedAsync()
	{
		if(ProductId !=null)
			product =await ProductServiceDI.GetProductById(ProductId);
	}
}
