@page "/search"
@using FurnitureStore.Client.Layout.Customer
@layout MainLayout
<div class="body-contain">
	<div class="path grid">
		<a href="">Home</a>
		<span>|</span>
		<a href="">Lighting</a>
		<span>|</span>
		<a class="path__current" href="">Floor Lamps</a>
	</div>
	<!-- Search result  -->
	<div class="latest-products grid">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<h2 class="related-list-titile">
							<span class="material-symbols-outlined">
								lightbulb
							</span>
							Search results for keyword <span>'handbag'</span>
						</h2>
					</div>
				</div>
				<section>
					<div class="text-center">

						<!-- Product -->
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/0cf32a9c7df69043bbca9de2ff92c1a6.jpg?v=1691011197&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-dark ms-2">NEW</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-primary ms-2">bestseller</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-dark ms-2">NEW</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-success ms-2">Eco</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-dark ms-2">NEW</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">
										<div class="mask">
											<div class="d-flex justify-content-start align-items-end h-100">
												<h5><span class="badge bg-dark ms-2">NEW</span></h5>
											</div>
										</div>
										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-4">
							<div class="card">
								<div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
									 data-mdb-ripple-color="light">
									<img src="https://rhomeco.com/cdn/shop/files/8eda1996679c0332137cd6cc515ad902.jpg?v=1691340505&width=1200"
										 class="w-100" />
									<a href="#!">

										<div class="hover-overlay">
											<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
										</div>
									</a>
								</div>
								<div class="card-body">
									<a href="" class="text-reset">
										<h5 class="card-title mb-2">Denim shirt</h5>
									</a>
									<a href="" class="text-reset ">
										<p>Shirt</p>
									</a>
									<h6 class="mb-3 price">120$</h6>
								</div>
							</div>
						</div>

					</div>
				</section>

			</div>
		</div>
	</div>

</div>
@code {

}
