<footer class="footer">
	<div class="footer-general grid">
		<div class="footer-container">
			<div class="footer-list">
				<div>
					<a href="" class="footer-item">Chính sách vận chuyển và thanh toán</a>
				</div>
				<div>
					<a href="" class="footer-item">Chính sách bảo vệ thông tin cá nhân của khách hàng</a>
				</div>
				<div>
					<a href="" class="footer-item">Liên hệ</a>
				</div>
				<div>
					<a href="" class="footer-item">Chính sách đổi hàng</a>
				</div>
				<div>
					<a href="" class="footer-item">Chính sách bảo hành</a>
				</div>
			</div>
			<div class="footer-list">
				<h2 class="footer-item2">CÔNG TY CỔ PHẦN HOME FURNISHINGS</h2>
				<br />
				<h3 class="footer-item1">Tổng đài hỗ trợ:</h3>
				<p class="footer-item1">0972 264 919 </p>
				<h3 class="footer-item1">Địa chỉ: </h3>
				<p class="footer-item1">
					<strong>
						75 Nguyễn Việt Hồng, P.An Phú, Q.Ninh Kiều, TP.CẦN
						THƠ
					</strong>
				</p>
				<h3 class="footer-item1">Email:</h3>
				<p class="footer-item1">official@mossvn.com</p>
				<h3 class="footer-item1">Website:</h3>
				<p class="footer-item1">mossvn.com</p>
				<h3 class="footer-item1">Facebook Fanpage:</h3>
				<a href="" class="footer-item1">facebook.com/office.moss</a>
				<h3 class="footer-item1">Instagram: </h3>
				<a class="footer-item1" href="">instagram.com/office.moss</a>
				<br />
				<br />
				<h3 class="foooter-identity footer-item1">
					<strong>Số ĐKKD: </strong>1801737615 -
					<strong>Ngày cấp:</strong> 30/01/2023
				</h3>
				<div class="footer-connect">
					<a class="footer-connect-link" href="">
						<img class="footer-connect-img"
							 src="https://mossvn.com/images/facebook.png"
							 alt="" />
					</a>
					<a class="footer-connect-link" href="">
						<img class="footer-connect-img"
							 src="https://mossvn.com/images/tet_bestseller.png"
							 alt="" />
					</a>
					<a class="footer-connect-link" href="">
						<img class="footer-connect-img"
							 src="https://mossvn.com/images/tet_bestseller3.png"
							 alt="" />
					</a>
				</div>
			</div>

			<div class="footer-list">
				<a class=""
				   href="http://online.gov.vn/Home/WebDetails/84164"
				   target="_blank">
					<img class="footer-link-center"
						 src="https://mossvn.com/images/20150827110756-dathongbao.png"
						 alt="" />
				</a>
			</div>
		</div>
	</div>
</footer>
<p class="footer-copyright">
	Copyright &copy; 2020 Sixteen Clothing Co., Ltd. - Design:
	<a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a>
</p>

@code {

}
