/* header */

.nav-item-align {
    display: flex;
}

.nav-link-black {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

    .nav-link-black:hover {
        color: rgba(255, 255, 255, 0.8);
    }

.nav-item-container {
    display: flex;
    gap: 50px;
    cursor: pointer;
}

.header-auth-notlogin {
    display: flex;
    align-items: center;
}

.nav-link-line {
    background-color: white;
    height: 23px;
    width: 1px;
    margin-left: 10px;
}

.container {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: 103vw;
}

.navbar {
    height: 210px !important;
    padding-bottom: 0px !important;
}

.header-search-text {
    width: 740px;
    height: 50px;
    background-color: #232323;
    border: 0.4px solid white;
    padding: 0 15px;
    color: white;
    outline: none;
    margin-left: -126px;
}

    .header-search-text:focus {
        border: 0.4px dashed white;
    }

.header-search-btn {
    width: 50px;
    max-width: initial;
    height: 50px;
    line-height: initial;
    padding: 0 12px;
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 15px;
    line-height: 1;
    background: transparent !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: rgba(255, 255, 255, 0.8);
}

.nav-form {
    position: relative;
}

.nav-link {
    font-size: 17px !important;
    position: relative;
}

.nav-item {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-link-icon-down {
    color: white;
    position: absolute;
    top: 13px;
    font-size: 19px;
}
.navbar[b-7wrk8wm0t6] {
    height: auto !important;
}
.navbar-brand {
    all: unset;
    cursor: pointer;
}
ul.header__nav__submenu {
    position: absolute;
    top: 65px;
    padding: 10px 20px;
    margin: 0;
    min-width: 200px;
    max-width: 270px;
    width: max-content;
    text-align: left;
    background: white;
    border-top: none;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    display:none;
}

ul.header__nav__submenu .header__nav__list-item {
    position: relative;
    display: block;
    margin: 6px 0;
    width: 100%;
    line-height: 1.5;
    text-align: left;
    transition: all 0.2s ease-in-out;
}

.nav-item:hover .header__nav__submenu {
    display: block
}

ul.header__nav__sub-sub-menu {
    position: absolute;
    left: calc(100% + 10px);
    top: -16px;
    padding: 10px 20px;
    margin: 0;
    min-width: 200px;
    max-width: 270px;
    width: max-content;
    text-align: left;
    background: white;
    border-top: none;
    transition: all 0.3s ease-in-out;
    display:none;
}
/* category display*/
ul.header__nav__sub-sub-menu {
    display: none; /* Ẩn tất cả các menu cấp 3 */
}

li.header__nav__list-item:hover ul.header__nav__sub-sub-menu {
    display: block; /* Hiển thị menu cấp 3 tương ứng khi rê chuột vào thẻ <a> của menu cấp 2 */
}
/* end category display*/

